package templates

import "stravafy/internal/database"

templ AfterStrava(user *database.User) {
    @layout(user) {
        <main class="container">
            <h1>Hallo { user.FirstName }</h1>
            <a href="/auth/login/spotify" role="button" class=" pico-background-green-600">Login To Spotify</a>
        </main>
    }
}
